@using MVCDBFirst.Models
@model Emp

@if (TempData["Saved"]!=null)
{
    @TempData["Saved"];
}

<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for=Name id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" asp-for=Email id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Salary</label>
        <input type="text" asp-for=Salary class="form-control" id="exampleInputPassword1">
    </div>
   
    <button type="submit" asp-controller="Test" asp-action="AddEmp"class="btn btn-primary">Submit</button>
</form>
